<div class="container" ng-controller="BoardController">
    <h1>Board's Title</h1>
    <div class="row">
        <div class="col-md-2">Backlog</div>
        <div class="col-md-2">To Do</div>
        <div class="col-md-2">WIP</div>
        <div class="col-md-2">To deploy</div>
        <div class="col-md-2">Test</div>
        <div class="col-md-2">Done</div>
    </div>
    <div class="row" ng-repeat="task in taskList">
        <div class="col-md-2">
            <div class="task" ng-hide="!task._isInColumn('BackLog')">{{task._title}}
                <button class="btn btn-default" ng-click="moveItemFromAColumnToAnother(task, taskList, 'ToDo')">N</button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="task" ng-hide="!task._isInColumn('ToDo')">{{task._title}}
                <button class="btn btn-default" ng-click="moveItemFromAColumnToAnother(task, taskList, 'BackLog')">P</button>
            </div>
        </div>
        <div class="col-md-2 "></div>
        <div class="col-md-2 "></div>
        <div class="col-md-2 "></div>
        <div class="col-md-2 "></div>
    </div>
</div>