<div class="container" ng-controller="BoardController">
    <h1>Board's Title</h1>
    <div class="row" >
        <div class="col-md-2" ng-repeat="column in columnList" >{{column._id}}: {{column._title}}</div>
    </div>
    <div class="row" ng-repeat="task in taskList">
        <div class="col-md-2" ng-repeat="column in columnList">
            <div class="task" ng-hide="!isInColumn(task,column)">{{task._title}}
                <button class="btn btn-default" ng-click="moveItemFromAColumnToAnother(task, column._prev)" ng-hide="column._prev === null">P</button>
                <button class="btn btn-default" ng-click="moveItemFromAColumnToAnother(task, column._next)" ng-hide="column._next === null">N</button>
            </div>
        </div>
    </div>
</div>